---
import Layout from "../../templates/Layout.astro";
import { courses } from "../../../../shared/scripts/Baserow";

interface PageProps {
    course: any;
}

export async function getStaticPaths(){
    return (await courses.get()).map((course: any) => {
        return { 
            params: {id: String(course.id) }, 
            props: {
                course
            }
        }
    })
}

const { id } = Astro.params;
const { course } = Astro.props;
---

<script define:vars={{ course }}>
    window.course = await course
</script>

<Layout>
    <section x-data="{
        course: window.course,
        hasCourse: false,
        async init(){
            console.log(await this.user.get())
            //this.hasCourse = await this.user.hasCourse(this.course.id)
            //console.log(this.hasCourse)
        }
    }">
    <template x-if="!hasCourse && user.authenticated">
        <div>
            <p>NÃO TEM CURSO</p>
            <a :href="course['Link de Pagamento'] + `?locked_prefilled_email=${user.data.email}&client_reference_id=${user.profile.id}`" target="_blank">Comprar</a>
        </div>
    </template>
    <div>
        <h1>{ id }</h1>
        <h1>{ course.Name }</h1>
    </div>
    <section>
        <div>
            <template x-for="aula in course.Aulas">
                <div>
                    <a role="link" :href="'/curso/' + course.id + '/' + aula.id" x-text="aula.value"></a>
                </div>
            </template>
        </div>
    </section>
</section>
</Layout>