---
import Layout from "../../templates/Layout.astro";
---

<Layout>
    <section>
        <div>
            <p>
                devo considerar aqui. se a pagina de curso é estatica ou dinamica
                se não tem dados "sensiveis. se é so informação sobre o curso. pode ser estática"

                ou seja, posso deixar tudo pré-renderizado
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad quas perferendis placeat consequatur! Exercitationem, laborum? Delectus enim repudiandae adipisci facilis ullam, sed dolore totam voluptatum cumque ea nam neque cum.
            </p>
            <h1>AAAAAAA</h1>
        </div>
    </section>
</Layout>