---
import Layout from '../templates/Layout.astro'
import { courses } from "../../../shared/scripts/Baserow";

const all = await courses.get()
---

<script define:vars={{ courses: all }}>
    window.courses = courses
</script>

<Layout>
    <section>
        <div>
            <h2>Todos os cursos</h2>
        </div>
    </section>
    <section>
        <template x-for="course in courses">
            <article>
                <div>
                    <h2 x-text="course.Name"></h2>
                    <a role="link" :href="'/curso/' + course.id">Ver curso</a>
                </div>
            </article>
        </template>
    </section>
</Layout>