---
import Layout from '../templates/Layout.astro'
---

<Layout>
    <section x-cloak x-show="user.authenticated">
        <div>
            <h1 >Bem vindo <span x-text="user.profile.Nome"></span>!</h1>
        </div>
    </section>
    <section x-cloak x-show="user.authenticated">
        <div>
            <h2>Meus cursos</h2>
        </div>
        <section>
            <template x-for="course in user.courses">
                <article>
                    <div>
                        <h2 x-text="course.Name"></h2>
                        <a role="link" :href="'/curso/' + course.id">Ver curso</a>
                    </div>
                </article>
            </template>
        </section>
    </section>
    <section x-cloak x-show="user.authenticated">
        <div>
            <h2>Meus certificados</h2>
        </div>
        <section>
            <template x-for="certification in user.certifications">
                <article>
                    <div>
                        <p x-text="certification.Name"></p>
                        <a role="link" :href="'/curso'">Ver curso</a>
                    </div>
                </article>
            </template>
        </section>
    </section>
</Layout>