<section>
    <div>
        <h2>Depoimentos</h2>
    </div>
    <section>
        <article>
            <small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quo reprehenderit suscipit optio at dicta quisquam reiciendis delectus assumenda ad minima fuga, quos repudiandae numquam excepturi odit dolorum labore voluptate.</p>
                <span>
                    <img src="" alt="">
                    <p>Nome do aluno</p>
                </span>
            </small>
        </article>
        <article>
            <small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quo reprehenderit suscipit optio at dicta quisquam reiciendis delectus assumenda ad minima fuga, quos repudiandae numquam excepturi odit dolorum labore voluptate.</p>
                <span>
                    <img src="" alt="">
                    <p>Nome do aluno</p>
                </span>
            </small>
        </article>
    </section>
</section>

<style>
    section:has(:not(article)){
        display: flex;
    }

    img {
        width: 4rem;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        border:  1px solid black;
    }
    
    article {
        max-width: 20rem;
    }
</style>