---
import Layout from '../templates/Layout.astro'
---

<Layout>
    <section>
        <div>
            <h1>Bem vindo user!</h1>
        </div>
    </section>
    <section>
        <div>
            <h2>Meus cursos</h2>
        </div>
        <section>
            <article>
                Curso 1
            </article>
            <article>
                Curso 1
            </article>
            <article>
                Curso 1
            </article>
            <article>
                Curso 1
            </article>
            <article>
                Curso 1
            </article>
            <article>
                Curso 1
            </article>
        </section>
    </section>
</Layout>