//@use "@picocss/pico/scss/pico.fluid.classless.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > div {
    flex-grow: 1;
}

main {
    flex-grow: 1;
}

:not(p) > a:not([role="link"]), button {
    display: inline-block;
    padding: 1rem;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;

    :hover {
        background-color: antiquewhite;
    }
}



main > section:nth-child(1) {
    padding-top: 6rem;
}

main > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;
    
    > div {
        padding: 1rem;
    }
}

section:has(> article) {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    
    > * {
        flex-shrink: 0;
    }
}


article, form {
    padding: 1rem;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    
    label {
        display: flex;
        flex-direction: column;
        span {
            padding: 0.5rem;
            padding-left: 0;
        }
        input {
            font: inherit;
            border: 1px solid black;
            padding: 1rem;
        }
    }

    input[type='checkbox']{
        width: 1.5rem;
        border: 1px solid black;
    }

    label:has(input[type='checkbox']){
        flex-direction: row; gap: 1rem
    }
}

div {
    display: flex;
    gap: 1rem;
}

span {
    display: inline-flex;
}

div {
    flex-direction: column;
}

span {
    align-items: center;
}

@media (min-width: 767px) {
    main {
        > section:has(>:not(section)) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
            max-width: 70rem;
            margin: auto;
        }
        
        > section:has(> section){
            display: flex;

            > section {
                padding: 1rem;
            }
        }
    }
}