---
import Page from '../../../shared/components/Page.astro'
import Header from './Header.astro'
import Footer from '../../../shared/components/Footer.astro'
---

<script>
    import { user } from '../../../shared/scripts/Alpine';
    (window as any).user = user
</script>

<Page>
    <div x-data="user">
        <Header/>
        <template x-if="user.authenticated || path == '/login' || path == '/criar-conta' ">
            <main>
                <slot/>
            </main>            
        </template>
        <Footer/>               
    </div>
</Page>